$ cat .gitattributes
special-vendored-path/* linguist-vendored
compile.p linguist-documentation=false
compile.p linguist-vendored=false
*.p linguist-detectable=false
*.pl linguist-detectable=false
*.al linguist-detectable=false
*.cgi linguist-detectable=false
*.ph linguist-detectable=false
*.plx linguist-detectable=false
*.pm linguist-detectable=false
*.psgi linguist-detectable=false
*.fcgi linguist-detectable=false
*.t linguist-detectable=false
*.PL linguist-detectable=false
*.perl linguist-detectable=false
*.asm linguist-detectable=false
*.al linguist-detectable=false
